.MainPage {
  background-color: blue;
  display: flex;
  flex-direction: column;
  width: 100;
  height: 100vh;
}

.center {
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
}

.videoView {
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  border-left: 1px solid #ececec;
}
